:root {
	--site-bg-color: #090808;
	--site-text-color: #efefef;
	--brand-orange: #ee7100;
	--transition-time: 200ms;
	--container-width: 1050px;
}

* {
	font-family: "Heebo", sans-serif;
	color: var(--site-text-color);
}

body {
	background-color: var(--site-bg-color);
}

a {
	text-decoration: none;
}

.no-js .page-transition-enter {
	opacity: 1;
}
